*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body{
  margin: 0 auto;
}

.primary-header{
  margin: 10px auto;
  width: 1200px;
  height: 37px; 
 
  backdrop-filter: blur(7.5px);
}

.primary-header .container{
  width: 80%;
  height: 100%; 
  margin: auto;
  display: flex;
  justify-content:space-between;
  align-items: center ;
  gap: 1rem;
  padding: 0 15px;
  border-radius: 75px;
  background-color: rgba(55, 255, 255, 0.9);
  
}

.logo{
  display: flex;
  font-size: 20px;
}

.nav-wrapper{
  width: 60%;
  display: flex;
  justify-content: space-between; 
}


.registration{
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.registration a:nth-child(2){
  display: block;
  color: #fff;
  padding: 5px 10px;
  background-color: #38BFF2;
  border-radius: 14px;
}

/*section1*/

.section1{
  width: 1200px;
  margin: 70px auto;
  margin-bottom: 0;
}

.section1 .container{
  width: 100%;
  min-width: 770px;
  height: 100%;
  padding:100px;
  display: flex;
  justify-content: space-between;
}

.section1 .container h1{
  width: 415px;
  padding: 10px 0;
  font-weight: 550;
}

.section1 .container hr{
  margin-top:40px;
  width: 315px;
}

.section1 .container p{
  margin: 15px 0;
  width: 335px;
}

.section1 .container a{
  display: block;
  width: 240px;
  padding: 15px;
  border-radius: 24px;
  text-align: center;
  color: #fff;
  background-color: #F15525;
}


/* section2 */

.section2{
  text-align: center;
  width: 1200px;
}

.section2 .container{
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 40px;
  padding-bottom: 0;
  display: flex;
  border-radius: 50px;
  background-color: #EAF2F5;
}

.section2 .container div:nth-child(2) div{
  width: 520px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.section2 .container div:nth-child(2) div p{
  
  padding: 10px 20px;
  color: #fff;
  background-color: #38BFF2;
  border: none;
  border-radius: 20px;
  flex-grow: 1;
}

.section3 .container{
  width: 1000px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 .container .section3-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 25px;
  gap: 1rem;
}

.section3 .container .section3-list div{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background-color: #EAF2F5;
}

.section4 .container{
  width:1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.section4 .container p{
  margin: 20px auto;
  margin-bottom: 0;
  width: 530px;
  font-size: 13px;
}


.section5{
  width: 1200px;
  height: 500px;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(/images/Group\ 1178.png);
  background-size: 650px 400px;
  background-position: center;
}

.play-button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color:#F15525;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:1;
  cursor:pointer;
  position: relative;
  isolation: isolate;
}

.play-button a{
  display: block;
  width: 20px;
  height: 20px; 
  border-left: 20px solid #fff;
  border-top: 10px solid #F15525;
 border-bottom: 10px solid #F15525;
}

.play-button::after{
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: absolute;
  z-index: -5;
  background-color: #F15525;
  opacity: 0.3;
}


.section6{
  width: 1200px;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section6 .container{
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

.section6 .container div{
  width: 200px;
}

.head-numbers{
  margin: 15px 0;
  font-size: 44px;
  font-weight: bold;
  color: #38BFF2;
}

.section6 span{
  margin-top: 30px;
  height: 180px;  
  border: 0.5px solid #EAF2F5;
}

.section6 .container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.section6 .container2 a{
  background-color: #F15525;
  padding: 20px;
  border-radius: 30px;
  margin: 0 15px;
}

.section6 .container2 p{
  width: 230px;
  text-align: center;
}

.section7{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section7 .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section7 .container div:nth-child(1),
.section7 .container div:nth-child(4){
  width: 350px;
  height: 250px;
  border-radius: 50px;
  margin: 15px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAF2F5;
}

.section7 .container div:nth-child(2),
.section7 .container div:nth-child(3){
  width: 500px;
  height: 250px;
  border-radius: 50px;
  margin: 15px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #EAF2F5;
}

.section7 img{
  width: 200px;
  height: 200px;
}

.section7 p{
  margin: 15px 0;
  font-size: 13px;
}

.section8 .container{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section8 .container .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8 .container .list div{
  margin: 25px 15px;
}

.section8 .container .list :first-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8 .container .list :first-child p{
  width: 280px;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
}

.section8 .table-container{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}


.section8 .table-container table{
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-collapse: collapse;
}

.section8 .table-container table tr th,
.section8 .table-container table tr td{
  width: 400px;
  margin: 20px;
  margin: 25px;
  padding: 10px;
  text-align: start;
}

table tr:nth-of-type(even){
  background-color: #F3F3F3;
  border-radius: 10px;
}

table tr:nth-of-type(even) :first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table tr:nth-of-type(even) :last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section9 {
  width: 1200px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section9 .container{
  width: 1000px;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 2rem;
  background-color:#EAF2F5;
  border-radius: 20px;
  padding: 40px;
}

.section9 .container :last-child a{
  display: block;
  background-color:#F15525;
  width: max-content;
  padding: 15px 30px;
  border-radius:22px;
  color: #fff;
}

footer {
  width: 1200px;
  padding: 60px 120px;
  margin: 0 auto;
  border-bottom: 1px solid #D8D8D8;
}

footer .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .container .contact-information{
  display: flex;
}

footer .container .contact-information div{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

footer .container .contact-information div a{
  margin-top: 12px;
}


@media screen and (max-width: 360px) {
  .primary-header{
    width: 330px;
    margin: 15px 10px;
  }

  .primary-header .container{
    width: 100%;
  }

  .toggle-button{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
  }

  .toggle-button span{
    width: 80%;
    margin: 1px auto;
    border: 1px solid black;
  }

  .nav-wrapper{
    display: none;
  }

  .registration {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .registration a:first-child {
    display: none;
  }

  .section1 {
    width: 330px;
    margin: 10px auto;
  }
  .section1 .container{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .section1 .container :nth-child(2) img{
    width: 300px;
    margin-top: 50px;
  }

  .section1 .container h1{
    width: 290px;
    text-align: center;
  }
  .section1 .container hr{
    margin-top: 10px;
  }

  .section1 a{
    margin: 20px 25px;
  }

  .section2{
    width: 320px;
    margin: 0 auto;
    
  }

  .section2 .container{
    width:100%;
    margin: 0;
    padding: 0px;
      display: flex;
    justify-content: center;
    
  }

  .section2 img, .section2 .container h3{
    display: none;
  }

  .section2 .container div:nth-child(2) div{
    width: 330px;
    padding: 20px;
  
  }


  .section2-list p{
    flex-grow: 1;
    width: max-content;
  }

  .section3 .container{
    width: 330px;
    font-size: small;
  }  

  .section3 .container .section3-list {
    padding: 5px;
    margin-top: 15px;
  }

  .section3 .container .section3-list div{
    width: 150px;
    flex-grow: 1;
  }

  .section4 .container{
    width: 330px;
  }

  .section4 .container p{
    width: 330px;
    margin: 0 auto;
  }

  .section5{
    width: 330px;
    background-size: 330px 200px;
    margin: 0 auto;
    height: 210px;
  }

  .play-button{
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
  }

  .play-button a{
    display: block;
    width: 7px;
    height: 7px; 
    border-left: 7px solid #fff;
    border-top: 3.5px solid #F15525;
   border-bottom: 3.5px solid #F15525;
  }

  .play-button::after{
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 27.5px;
    position: absolute;
    z-index: -5;
    background-color: #F15525;
    opacity: 0.3;
  }

  .section6{
    width: 300px;
    margin: 15px auto;
  }

  .section6 .container{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .section6 span{
    height: 1px;
    width: 240px;
    background-color: #EAF2F5;
    margin: 0;
  }

  .section6 .container2{
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 35px;
  }

  .section6 .container2 a{
    padding: 20px 60px;
    margin-bottom: 15px;
  }

  .section6 .container2 p{
    width: 290px;
    text-align: center;
  }

  .section7{
    width: 330px;
  }

  .section7 .container{
    width: 100%;
    flex-direction: column;
  }
  
  
.section7 .container div:nth-child(1),
.section7 .container div:nth-child(4){
    width: 300px;
    padding:15px;
    margin: 5px 0;
  }

  .section7 .container div:nth-child(2),
.section7 .container div:nth-child(3){
  width: 300px;
    padding: 15px;
    margin: 5px 0px;
}

.section8 .container{
  width: 330px;
  margin: 0 auto;
}

.section8 .container .list{
  flex-direction: column;
}

.section8 .container .list div{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.section8 .container .list div :last-child{
  width: 300px;
}

.section8 .container .list :first-child p{
  font-size: 13px;
  margin: 15px;
  text-align: center;
}

.section9 {
  width: 330px;
}

.section9 .container{
  width: 100%;
  flex-direction: column;
  border-radius: 50px;
}

footer{
  width: 330px;
  padding: 20px;
}

footer .container{
  width: 100%;
  flex-direction: column;
}

footer .container img{
  margin: 15px auto;
}

footer .container .contact-information{
  width: 330px;
  flex-direction: column;
  margin: 0 ;
}

footer .container .contact-information div{
  margin: 15px auto;
}

}



